.header {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #1a1a1a;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #333;

  .ant-btn {
    background: transparent;
    border: 1px solid #444;
    color: white;
    transition: all 0.3s;

    &:hover {
      background: #333;
    }
  }
}
