// 🌙 默认使用亮色模式
:root {
  --primary-color: #0063f2;
  --text-color: #ffffff;
  --bg-color: #000000;
  --border-color: #444;
}

// 🌙 黑暗模式
[data-theme='dark'] {
  --primary-color: #1890ff;
  --text-color: #ffffff;
  --bg-color: #1b1c23;
  --border-color: #444;
}
